body {
  background: linear-gradient(to bottom, #0a1f3d, #1e3a5f); /* mörkblå ton */
  color: #ffcc66; /* vit text */
  font-family: 'Segoe UI', sans-serif;
}
.hero {
  background: linear-gradient(to bottom, rgba(10, 31, 61, 0.8), rgba(30, 58, 95, 0.8)),
              url('BCO.a603fa5d-d5c6-45d1-813b-cc5129615e82.png') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 180px 50px;
  position: relative;
  overflow: hidden;
}
 .hero::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  height: 120px;
  background-image: url('557745348_17842315881592835_396397087092430481_n.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  z-index: 1000;
}

.hero h1 {
  font-size: 3em;
  color: #ffcc66; /* solfärg */
  text-shadow: 2px 2px 5px #000;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  color: #e0e0e0;
  max-width: 600px;
  margin: 0 auto;
  line-height: 4;
}

nav a {
  margin: 0 10px;
  background-color: #ffcc66; /* solfärg */
  color: #0a1f3d; /* mörkblå text */
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #ffcc66; /* ljusare solfärg vid hover */
}

.section {
  background-color: #0a1f3d; /* mörkblå */
  color: #fefefe;
  padding: 60px 20px;
}

.section.alt {
  background-color: #e0f2ff; /* kall ljusblå */
  color: #0a1f3d;
  padding: 60px 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, form textarea {
  width: 80%;
  max-width: 400px;
  margin: 10px 0;   
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #0a1f3d;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #e0f2ff;

} 
 logotyp {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1000;
}

.snowflake {
  position: absolute;
  top: -50px;
  font-size: 1.5em;
  color: white;
  animation: fall 8s linear infinite;
  pointer-events: none;
  z-index: 10;
}    
@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}  

.flake1 { animation-delay: 0s; }
.flake2 { animation-delay: 2s; }
.flake3 { animation-delay: 4s; }
.flake4 { animation-delay: 1s; }
.flake5 { animation-delay: 3s; }






